<header>
    <nav class="header-nav">
        <a href="/" class="header-title" style="text-decoration:none;">LIBRARY.COM</a>
        <ul type="none">
            <li><a href="/authors" style="text-decoration:none;">Authors</a></li>
            <li><a href="/authors/new" style="text-decoration:none;">Add Author</a></li>
            <li><a href="/books" style="text-decoration:none;">Books</a></li>
            <li><a href="/books/new" style="text-decoration:none;">Add Books</a></li>
        </ul>
    </nav>
</header>